<li>
  <%= link_to(game_name_for(game, parties.size, mode), game_path(game),
              :class => "color #{account_have_game?(game) ? "green" : "orange"}") %>
  <%= content_tag(:span, " x#{parties.size}") if parties.size > 1 %>
</li>