<span class="mday"><%= day %></span>
<% if parties %>
	<ul>
		<% parties.first(4).each do |p| %>
			<li><%= link_to(truncate(p.game.name, 12), game_path(p.game), :class => has_game?(p.game) ? "color green" : "color orange" ) %></li>
		<% end %>
		<%= content_tag(:li, link_to("#{parties.size - 4} more", "", :class => "more")) if parties.size > 4 %>
	</ul>
<% end%>