<% if !@games.empty? %>
  <table class="sortable">
    <tbody>
        <% @games.each do |g| %>
          <tr>
            <td><%= image_tag(g[0].box.url(:thumb), :class => "mini") %></td>
            <td><%= link_to g[0].name, game_path(g[0]), :class => g[1] ? " color red" : "" %></td>
            <td><%= g[2] %></td>
          </tr>
        <% end %>
    </tbody>
  </table>			

<% else %>
    <p class="empty">Vous n'avez jouez a aucun jeux ce mois ci.</p>
<% end %>