    			<% if !@discovered.empty? %>
      			<ul>
      				<% @discovered.each do |game| %>
      					<li>
      						<%= image_tag(game.image.public_filename , :size => "35x35") if game.image %>
      						<%= link_to(truncate(game.name, 18), game_path(game)) %>
      					</li>				
      				<% end %>
      			<% else %>
      			  <p class="empty">Vous n'avez jouez a aucun nouveau ce mois ci.</p>
      			<% end %>