<li class="party">
  <% fields_for :parties, @party, :index => Time.now.to_i do |p| %>
    <%= text_field_tag "party[game][#{Time.now.to_i}]", nil, :class => "party_game_name", :size => 40 %><br />
    <div class="auto_complete"></div>
    <%= p.hidden_field :game_id,  :class => "party_game_id" %>
    <%= p.hidden_field :created_at %>
  <% end %>
</li>