<p><label for="party_game">Jeu</label><br />
<%= text_field_tag "party[game]", nil, :id => "party_game", :size => 35 %></p>
<%= f.hidden_field :game_id %>
<div class="auto_complete" id="party_game_auto_complete"></div>
