<% if @last_parties.size > 0 %>
<ul class="strip">
	<%= render :partial => "parties/last_party", :collection => @last_parties %>
</ul>
<% else %>
  	<p class="empty">Vous n'avez jouez/saisie encore aucune parties actuellement</p>
<% end %>


