<% if @last_parties.size > 0 %>
  <table class="stripe">
    <tbody>
      <%= render :partial => "parties/last_party", :collection => @last_parties %>
    </tbody>
  </table>
<% else %>
  	<p class="empty">Vous n'avez jouez/saisie aucune parties actuellement</p>
<% end %>


