<tr>
  <td class="span-1"><%= image_tag(last_party[0].box.url(:thumb), :class => "mini") %></td>
  <td><%= link_to(last_party[0].name, game_path(last_party[0]), :class => "empty") %><%= content_tag(:span, "&nbsp;(x#{last_party[1].size})") if last_party[1].size > 1 %>
  <br />
	<span><%= l last_party[1].first.created_at.to_date %></span></td>
</tr>