<ul class="horizontal clear">
  <li>
    Vous avez jouez en tout <%= pluralize(@count, "partie", "parties") %> :
  </li>
  <li>
    <span><%= @yours %></span>
    <div class="legendColorBox left green"><div></div></div>
    Jeux de votre ludotheque
  </li>
  <li>
    <span><%= @other %></span>
    <div class="legendColorBox left orange"><div></div></div>
    Autre jeux
  </li>
</ul>