<ul class="horizontal clear">
  <li>
    <div class="legendColorBox left green"><div></div></div>
    Dans ma ludotheque
  </li>
  <li>
    <div class="legendColorBox left orange"><div></div></div>
    Autres
  </li>
</ul>