Vous avez jouez en tout <%= pluralize(@count, "partie", "parties") %>.
<ul>
  <li>
    <span class="right"><%= @yours %></span>
    <div class="legendColorBox left green"><div></div></div>
    Jeux de votre ludotheque
    </li>
  <li>
    <span class="right"><%= @other %></span>
    <div class="legendColorBox left orange"><div></div></div>
    Autre jeux
  </li>
</ul>
