<% if @most_played.size > 0 %>
	<ul class="strip">
		<% @most_played.each do |game, count| %>
			<li>
				<span class="right"><%= pluralize(count, "partie", "parties") %></span>
				<%= game_box_for(game, :size =>"35x35") %>
				<%= link_to game.name, game_path(game) %>
			</li>
		<% end %>
	</ul>
<% else %>
<p class="empty">Vous n'avez jouez/saisie encore aucune parties actuellement</p>
<% end%>