<ul class="horizontal">
  <% ((Time.now.year - 3)..(Time.now.year)).each do |year| %>
    <%= link_to_remote year, :url => most_played_parties_path(:year => year) %>
  <% end %>
</ul>
<% if @most_played.size > 0 %>
	<ul class="strip">
		<% @most_played.each do |game, count| %>
			<li>
				<div class="right round"><%= count %></div>
				<%= game_box_for(game, :size =>"35x35", :class => "mini") %>
				<%= link_to game.name, game_path(game) %>
				
			</li>
		<% end %>
	</ul>
<% else %>
<p class="empty">Vous n'avez jouez/saisie encore aucune parties actuellement</p>
<% end%>