<% render_widget "Ajouter des parties" do  %>
  Le <%= l @date, :format => :long_ordinal %> vous avez jouez a :
  <% remote_form_for @party , :html => {:id => "party-form"} do |f| %>
       <strong>Jeu</strong><br />
       <ul id="parties">
         <%= render :partial => "form", :f => f %>
       </ul>
       <div class="buttons clear">
           <div class="right">
               <strong><span class="link" id="reset">Annuler</span> ou <%= f.submit "Jouer" %></strong>
           </div>
       </div>
       
   <% end %>
<% end %>
