<tr id="<%= dom_id(game) %>">
	<td class="pad">
	  <%= link_to game.name, played_game_path(game) %>
	</td>
	<td class="align-right">
	  <%= content_tag(:strong,"x #{parties}") %>
    <%= content_tag(:em, "(#{time_ago_in_words(@last_played[game])})", :class => "") if @last_played[game] %>
  </td>
</tr>

