<tr class="<%= account_have_game?(game) ? "own green color" : "orange" %>" id="<%= dom_id(game) %>">
	<td><%= account_game_status_for(game) %></td>
	<td><%= link_to game.name, breakdown_parties_path(:game_id => game.id) %></td>
	<td><%= last_play_date_table_cell(game) %></td>
	<td class="center"><div class="round"><%= parties %></div></td>
</tr>

