<div class="widget">
	<h3>Vite joue</h3>
	<div class="w-content">
		<% form_for "party", :url => play_games_path, :html => {:class => "clear", :id => "play-form"} do |f| %>
		<%= f.text_field :q, :size => "23" %> 
		<% end %>
		<ul id="play-results" class="clear">
				
		</ul>
	</div>
</div>
