<h3>Vos parties <%= "(Jeux de votre ludotheque seulement)" if @filter == :ludo %></h3>


<%= render_parties @parties, :id => "high"  %>


<% content_for :newsbox do %>
  <div id="placeholder-1">
  </div>
  <div id="placeholder-2">
    <%= render_widget "last", "Vos derniers parties" %>
  </div>
  <div id="placeholder-3">
  </div>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>