<% if @editions.size > 0 %>
    <div class="block">
      <h4><span class="ss_sprite ss_joystick">Paru chez :</h4>
      <ul class="strip" id="editions_list">
        <%= render :partial => "editions/list", :collection => @editions %>
      </ul>
    </div>
<% else %>
  <p class="empty">
    Aucune editions n'existe pour le moment
  </p>
<% end %>