<h3>Modification d'un edition de <%= @game.name %></h3>

<% form_for(@edition, :url => game_edition_path(@game, @edition)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => f %>
  <%= submit_or_back_to game_path(@game), "retour sur #{@game.name}" %>
<% end %>