<% fields_for :authorship, :index => index do |a| %>
<div class="authorship" id="<%= index %>">
  <p><%= label_tag "display_name_#{index}", "Auteur #{index}" %>
  <span class="tips">(Sous la forme "prenom-nom")</span><br />
  <%= text_field_tag "authorships_display_name_#{index}", authorship && authorship.author ? authorship.author.display_name : "", :name => "authorship[#{index}][display_name]", :class => "author_display_name text" %>
  <span class="ss_sprite ss_add add btn" ></span>
  <span class="ss_sprite ss_trash remove btn"></span>
  </p>
  <div class="auto_complete" id="authorship_<%= index %>_auto_complete"></div>
</div>
<% end %>
