

<h1>Editing authorship</h1>

<%= error_messages_for :authorship %>

<% form_for(:authorship, :url => authorship_path(@authorship), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', authorship_path(@authorship) %> |
<%= link_to 'Back', authorships_path %>