<h3>
  <% if @game %>
    Ajoutez un/des auteurs a <%= @game.name %>
  <% elsif @author %>
    Ajoutez un/des jeux pour <%= @author.display_name %>
  <% end %>
</h3>


<% form_for(:authorships, :url => authorships_path) do |form| %>
  <% @authorships.each_with_index do |au, index| %>
    <%= render :partial => form, :locals => {:index => index, :authorship => au} %>
  <% end %>
  <%= submit_or_back_to @back_path, "Retour" %>
<% end %>
