
<h1>New authorship</h1>

<%= error_messages_for :authorship %>

<% form_for(:authorship, :url => authorships_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', authorships_path %>