<h3>Ajoutez un/des auteur a <%= @game.name %></h3>


<%= error_messages_for :authorship %>

<% form_for(:authorships, :url => game_authorships_path(@game), :html => {:id => "authorship_form"}) do |form| %>
  <div id="authorships">
    <%= render:partial => form, :locals => {:index => @index} %>
  </div>
  <%= submit_or_back_to game_path(@game), "Retour sur #{@game.name}" %>
<% end %>
