/* @override http://localhost:3000/stylesheets/application.css?1220797423 */

/* ----- Structure and Layout ----- */

body {
	background: #99CC66 url('../images/background.png') repeat-x;
}

a {
	color: #422100;
}


.container{
	background: #EDF3EB;
}

#content {
	background: #FFF;
	margin-bottom: 15px;
}

h1{
	border-bottom: 1px solid;
	color:#422100;
}


h3{
	border-bottom: 1px solid #6CAB54;
	border-top: 1px solid #6CAB54;
	background: #E6F7D4;
	color: #653209;
	font-variant: small-caps;
	padding: 5px 10px;
}

h3 .small{
  margin: 0;
}

h4{
	font-weight: bold;
	font-size: 1.3em;
	color:#422100;
}

.color{ font-weight: bold;}
.red{ color: red;}
.orange{color: orange;}
.green{color: green;}
.orange a{ color: inherit;}
.color a{ color: inherit; font-weight: bold;}

.small,
.small a{
  color: #666;
}

p.info{
  background: transparent url(../images/info.png) no-repeat  center left;
  padding-left : 30px;
}

ul#search-results {
	margin-top: 3px;
}

.empty{
	text-align: center;
	font-weight: bold;
	color: #666;
}

/* ----- Navigation -----  */


#header {
	background: url('../images/nav-head.gif') repeat-x;
}
	

#sub-nav ul,
#header ul {
	margin: 0;
	padding: 0 0 0 27px;
	list-style: none;
}
	
#header .active{
	border-bottom: 3px solid #99CC66;
	font-weight: bold;
	text-decoration: none;
	color: #F1F7EE;
	margin: 5px 0 0 0;
	padding: 4px 12px;
	text-align: center;
}
	
#header li a {
	float: left;	
	margin: 5px 0 0 0;
	padding: 4px 12px;
	font-weight: bold;
	text-decoration: none;
	color: #F1F7EE;
}
	
#header li a:hover {
	color: #FFFFFF;
	background: #99CC66;
	
}
	
#header li a.active {
	color: #FFFFFF;
	background: #86BA72;
	border-bottom: 2px solid #6CAB54;
	border-right: 2px solid #6CAB54;
}

#sub-nav{
	background: #fff url("../images/tab_bottom_sub_bg.gif") left top repeat-x;
	margin-bottom: 10px;
}


#sub-nav ul li{
	margin: 5px 0 0 0;
	padding: 2px 12px;
	color: #666666;
	font-weight: bold;
}

/* Sidebar */

#innernews {
  	background: transparent;
}

#innernews ul{
	list-style: none;	
}




/* ------ Forms ------- */

fieldset{
	background-color: #E6F7D4;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: solid 2px #DCEAD7;
	padding: 3px;
	margin-bottom: 5px;
}

legend{
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}


.buttons{
	border-top: solid 2px #DCEAD7;
	background-color: #E6F7D4;
	padding: 5px;
}

.buttons a{
	border-bottom: 1px dotted #422100;
	text-decoration:none;
	padding-left: 3px;
	padding-right: 3px;
}

.buttons a:hover{
	background-color: #99CC66;
}

.tips{
	margin-top: 0;
	font-size: 0.8em;
	color: #858585;
}


.important{
	font-size: 1.7em;
}


/* ------ Footer ----- */

#footer {
	text-align: center;
	clear:both;
	font-size: .8em;
	color: #666666;
}

#footer a {
	color: #333333;
	text-decoration: none;
}

#footer a:visited {
	color: #333333;
	text-decoration: none;
}

#footer a:hover {
	color: #422100;
	text-decoration: underline;
}



.flash{
	background-color: #FFF700;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.right{
	float:right;
}

.left{
	float: left;
}

#content hr{
  background: transparent url('../images/divider.png') no-repeat center center;
  height: 16px;
  margin: 20px 0;
}

/* ---- Forms ----*/

div.auto_complete { 
	width: 350px; 
	background: #fff; 
} 
div.auto_complete ul { 
	border:1px solid #888; 
	margin:0; 
	padding:0; 
	width:100%; 
	list-style-type:none; 
} 
div.auto_complete ul li { 
	margin:0; 
	padding:3px; 
} 
div.auto_complete ul li.selected { 
	background-color: #ffb; 
} 

div.auto_complete ul strong.highlight { 
	color: #800; 
	margin:0; 
	padding:0; 
} 


.form-image{
	margin-right: 5px;
}

form img.btn{
  float: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#authorship_form p{
  margin: 0;
}



.search_wrapper{
	position:absolute;
}

#party-form img{ float:none;}

ul.horizontal{
  margin: 0;
	padding: 0;
	list-style: none;
}

ul.horizontal li{
	margin: 0px 0 0 0;
	padding: 0px 0px;
	float: left;
}

/* ---- Games ---- */

#game_form textarea{
  height: auto;
  width:94%;
}

#games{ 
	margin-bottom: 20px;
	margin-top: 20px;
}

#game .game{
  margin-bottom: 30px;
  list-style: none;
}

.game{
	border-bottom: 1px solid #6CAB54;
}

.game ul{
  margin: 0;
  list-style: none;
}


.game h4{
  font-size: 1em;
  text-align: center;
}

.block{
  margin-bottom: 20px;
}

.block h4{
  text-align : left;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.block a{
  text-decoration: none;
  border-bottom: 1px dotted;
}

img.flag{
  margin: 0;
  vertical-align: middle;
}

#games .content{
	padding: 0 4px;
}
.game .account_managment{
 	margin-top: 5px;
  	background-color: #E6F7D4;
	width: 100%;
	text-align: center;
	padding : 2px 0; 
}

.game .account_managment img{
	margin: 0;
	vertical-align: middle;
}

.game .account_managment a{
  font-variant:small-caps;
}

#games h3{
	background-color: #E6F7D4;
	border-bottom: 1px solid #6CAB54;
	border-top: 1px solid #6CAB54;
	padding-left: 10px;
	font-size: 16px;
}

.game ul{
}


img.ac_status {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 3px;
}

.page-nav{
	margin-top: 5px;
	text-align: center;
}

.page-nav a{
	font-weight: bold;
}



.meta{
	color: #666;
	font-weight: bold;
}


/* Account Games */

.status{
	font-style: italic;	
	font-weight: bold;
	color: red;
}
.account_games a.bold {
  font-weight: bold;
}

ul.search-list{
	margin: 0;
	padding: 0;
}
ul.search-list li{
	margin: 2px 0;
	padding: 2px;
	list-style-type: none;
}

.form-reset{
  background: url('../images/clear_left.png') no-repeat left center;
  padding-left: 35px;
  height: 32px;
  float: left;
  vertical-align: middle;
}

.form-find{
  vertical-align: middle;
}

ul.tags{
  	list-style: none;
	margin: 0;
}

ul.tags li{
	float: left;
	margin-right: 2px;
	
}

ul.tags li.selected{
	color: #422100;
	font-weight: bold;
}

#account_games_list label{
  font-weight: normal;
}


/* Accounts & Login */
.center_box{
	margin:0px auto;
}
#accounts{
	border: solid 5px #ccc;
	margin: 10px;
	text-align: center;
}

ul#accounts img{
	vertical-align: middle;
	float: left;
}


ul#accounts li{
	padding: 2px;
	list-style: none;
	border-bottom: solid 1px #ccc;
}

#accounts .login{
	font-size: 2em;
	font-weight: bold;
}

.parties_count{
	text-align: center;
	color: #858585;
	font-weight: bold;
}
/* Pseudo link Style */

.link{
	cursor: pointer;
}

.link.active{
	font-weight: bold;
	color: #666;
}

.more {
	font-style: italic;
	color: gray;
	font-variant: small-caps;
}

.extended{
    position: absolute;
    background-color: #fff;
}

ul.function{
    list-style: none;
}

ul.function li{
    float: left;
    padding: 0 2px;
    margin-top: 5px;
}

/* Widget Styles */

.widget{
	margin-top: 0;
	margin-bottom: 20px;
	background: #FFF;
}

.widget h3{
	padding-top: 1px;
	padding-bottom: 1px;
}

.widget .w-content{
	padding: 2px 4px;
}

.list ul,
.widget ul{
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.list ul li,
.widget ul li{
	padding-top: 2px;
	padding-bottom: 2px;
}

tr img,
.list img,
.widget img{
	margin: 0;
	vertical-align: middle;
}

.widget table{
  width: 100%;
}

#chart-legend table{
  width: auto;
}

#chart-legend td{
  border:none;
}

ul.strip li{
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 0;
}

li.rowodd {
	background-color: #FFF;
}

li.roweven {
	background-color: #F2F2F2;
}

.round{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #6CAB54;
  padding: 1px 4px;
  text-align: center;
  color: #fff;
}

tr.selected,
ul.strip li.selected{
  background-color: #ffb;
}

/* Specific Widget Styles */

#zoom div.w-content img {
	padding-right: 5px;
	padding-bottom: 5px;
	float: left;
}


#smart_list_form {
	padding: 10px;
	border: solid 2px #DCEAD7;
	background-color: #E6F7D4;
}



#smart_list_form .close {
	font-weight: bold;
	font-style: italic;
}

#smart_list_form div.right {
	background-color: white;
	padding: 4px;
	border: solid 1px #DCEAD7;
}

input#smart_list_title {
	font-size: 20px;
	font-weight: bold;
}


/* Tabs */

ul.tabsContainer{
  border-bottom: solid 2px #6CAB54;
  margin: 0;
}

li.tabs{
  background-color: #EEEEEE;
  float: left;
  list-style-type: none;
  margin-right: 5px;
  margin-left: 5px;
  border-top: solid 1px #6CAB54;
  border-left: solid 1px #6CAB54;
  border-right: solid 1px #6CAB54;
  padding: 3px 5px;
}

li.tabs.active{
  font-weight: bold;
  background-color: #E6F7D4;
}

li.tabs a{
  font-size: 12px;
  color: #422100;
  text-decoration: none;
}

.tabsBody{
  margin-top: 10px;
}

/* Editions */

ul#editions_list{
  padding: 0;
  margin: 7px 0 15px 0;
}



/* Pagination */
.pagination{
	margin-top: 5px;
	text-align: center;
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; 
}

.pagination a{
	font-weight: bold;
}

.pagination a, .pagination span {
    padding: .2em .3em; }
.pagination span.disabled {
    color: #AAA; }
.pagination span.current {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
.pagination a {
    text-decoration: none;
    color: black; }
.pagination a:hover, .pagination a:focus {
      text-decoration: underline; }


