<fieldset>
  <legend>Les bases</legend>
  <p><%= f.label :name, "Nom :" %><br />
  <%= f.text_field :name, :class => "important" %></p>
  <p><%= f.label :surname, "Prenom" %><br />
  <%= f.text_field :surname, :class => "important" %></p>
</fieldset>