<fieldset>
  <legend>Les bases</legend>
  <p><%= label_tag "author_name", "Nom :"  %><br />
  <%= f.text_field :name %></p>
  <p><%= label_tag "author_surname", "Prenom"  %><br />
  <%= f.text_field :surname %></p>
</fieldset>