<% content_for:head do %>
	<title>Les auteurs</title>
<% end %>

<h3>Les auteurs</h3>

<div class="pagination clear">
  <span><%= link_to "Tous", authors_path %></span>
    <% ("A".."Z").each do |letter| %>
      <%= link_for_first_letter letter, :authors_path %>
    <% end %>
</div>

<div id="authors">
  <%= render @authors || content_tag(:p, "Desolé. Aucun editeurs ne corespond a vos criteres.  ") %>
</div>


<div class="page-nav">
  <%= will_paginate @authors %>
</div>

<% content_for :newsbox do %>

<% end %>
