<% content_for:head do %>
	<title>Les auteurs</title>
<% end %>

<h3>Les auteurs</h3>

<div class="pagination clear">
  <span><%= link_to "Tous", authors_path %></span>
    <% ("A".."Z").each do |letter| %>
      <%= link_for_first_letter letter, :authors_path %>
    <% end %>
</div>

<div>
  <% if @authors.size > 0 %>
    <%= render :partial => @authors, :spacer_template => "shared/spacer" %>
  <% else %>
    <span class="empty">Aucun editeurs actuellement en base.</span>
  <% end %>
</div>


<div class="page-nav">
  <%= will_paginate @authors %>
</div>

<% content_for :newsbox do %>
  
<% end %>
