<% form_for :smart_list, :url => smart_lists_path, :method => :post, :html => {:id => "smart_list_form"}  do |f| %>
  <p><%= f.label :title, "Nom" %><br \>
  <%= f.text_field :title %></p>
  
  <div class="buttons clear">
    <div class="right">
      <span class="link close">Fermer</span>&nbsp;ou&nbsp;
      <%= f.submit "Sauvegarder" %>
    </div>
  </div>
  
<% end %>