<% form_for :smart_list, :url => smart_lists_path, :method => :post, :html => {:id => "smart_list_form"}  do |f| %>
  <p><%= f.label :title, "Nom" %><br \>
  <%= f.text_field :title %></p>
  
  <%= f.submit "Enregistrer" %>
<% end %>