<tr class="autohide">
  <td><%= link_to smart_list.title, smart_list_path(smart_list) %></td>
  <td></td>
  <td><span class="function">
    <%= link_to "", smart_list_path(smart_list), :method => :delete, :class => "ss_sprite ss_database_delete" %>
  </span></td>
</tr>