<li>
  <span class="right"><%= smart_list.results.size %></span>
  <%= link_to "delete", smart_list_path(smart_list), :method => :delete %>
  <%= link_to smart_list.title, smart_list_path(smart_list) %>
</li>