<% render(:layout => 'layouts/widget', :locals => {:title => "Vos lists"}) do %>
  <ul class="strip" id="smart_lists">
    <% @smart_lists.each do |s| %>
      <li id="<%= dom_id(s) %>">
        <%= image_tag("smart_folder.png") %>&nbsp;
        <%= link_to_remote s.title, :url => account_games_path(:smart_list => {:id => s.id}), :method => :get %>
      </li>
    <% end %>
  </ul>
<% end %>