<% render(:layout => 'layouts/widget', :locals => {:title => "Vos lists"}) do %>
  <ul>
    <% @smart_lists.each do |s| %>
      <li><%= link_to s.title, account_games_path(:smart_list => {:id => s.id}) %></li>
    <% end %>
  </ul>
<% end %>