<h3>Mes Recherches...</h3>

<table class="sortable">
  <thead>
    <tr>
      <th class="span-3">Titre</th>
      <th class="span-12 no-sort"></th>
      <th class="span-2">Administration</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @smart_lists %>
  </tbody>
</table>


<% content_for :subnav do %>
	<%= render :partial => "account_games/subnav" %>
<% end %>