<% if  @last_buyed.size > 0   %>
<table class="stripe">
  <tbody>
    <%= render :partial => "account_games/last_account_game", :collection => @last_buyed %>
  </tbody>
</table>
<% else %>
  <p class="empty">Vous ne possedez aucun jeux actuellement</p>
<% end %>

