<li>
	<span class="right"><%= last_account_game.created_at.to_s(:date_fr) %></span>
	<%= game_box_for(last_account_game.game, :class => "mini") %>
	<%= link_to(truncate(last_account_game.game.name, 18), game_path(last_account_game.game)) %>
</li>