<% if  @last_buyed.size > 0   %>
	<ul class="strip">
		<%= render :partial => "account_games/last_account_game", :collection => @last_buyed %>
  </ul>
<% else %>
  <p class="empty">Vous ne possedez aucun jeux actuellement</p>
<% end %>

