<div  class="widget" id="last-acgames">
	<h3>Vos derniers achat</h3>
	<div class="w-content">
		<ul>
			<%= render :partial => "last_account_game", :collection => @last %>
	  	</ul>
	</div>
</div>
