<li>
	<span class="right"><%= last_account_game.created_at.to_s(:date_fr) %></span>
	<%= image_tag(last_account_game.game.image.public_filename , :size => "35x35") if last_account_game.game.image %>
	<%= link_to(truncate(last_account_game.game.name, 18), game_path(last_account_game.game)) %>
</li>