<li class="left"><%= link_to "Abcdaire", account_games_path %></li>
<li class="left"><%= link_to "Ajouter un jeu dans votre ludotheque", new_account_game_path, :class => "ss_page_white_add ss_sprite" %></li>
<li class="left"><%= link_to "Rechercher", all_account_games_path, :class => "ss_find  ss_sprite" %></li>