<li class="left"><%= link_to "Overview", account_games_path %></li>
<li class="left"><%= link_to "Rechercher", all_account_games_path %></li>
<li class="left"><%= link_to "Mes recherches", smart_lists_path %></li>
