<h3>Modifier un jeu de ma ludotheque</h3>

<%= error_messages_for :account_game %>

<% form_for(@account_game, :url => account_game_path(@account_game), :html => { :method => :put, :id => "account_game_form"}) do |f| %>
  <%= error_messages_for :account_game %>
  <%= render :partial => f %>
  <%= submit_or_back_to account_games_path, "Retour sur votre ludotheque" %>
<% end %>


<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>