<h3>Importer des jeux dans ma ludotheque</h3>

<p>
	Les jeux qui ne sont actuellement pas en base seront cree et les jeux deja existant non.
</p>

<% form_for "import", :url => import_account_games_path(), :html => {:multipart => true} do |f| %>
	<p><%= f.label :file, "Fichier a importer" %><br />
	<%= f.file_field :file %></p>

	<%= submit_or_back_to dashboard_path, "Retour sur le dashboard", :submit_text => "Importer" %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>