<h3>Votre ludotheque</h3>

<h4>
	<span class="right"><%= pluralize @account_games.size, "Jeu", "Jeux" %></span>
	Vos Jeux
</h4>
<%= render_games @account_games, :mode => :overview, :id => "account_games" %>


<% content_for :newsbox do %>
  <%= render :partial => "smart_lists/widget" %>
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>