<h3>Votre ludotheque</h3>

<h4>
	<span class="right"><%= pluralize @current_account.games.count, "Jeu", "Jeux" %></span>
	Vos Jeux
</h4>

<div id="account_games_list">
  <%= render_games @account_games, :mode => :overview, :id => "account_games_table" %>
</div>

<%= will_paginate @account_game %>


<% content_for :newsbox do %>
  <%= render :partial => "smart_lists/widget" %>
  
  
<% end %>

<% content_for :subnav do %>
	<%= render :partial => "subnav" %>
<% end %>