<% if logged_in? %>
	<div class="left function">
		<%= link_to "", edit_game_path(game), :class => " ss_sprite ss_page_white_edit" %>
		<%= link_to "", game_path(game), :method => :delete, :class => "ss_sprite ss_page_white_delete" %> 
	</div>
<% end %>