<tr>
  <td><%= image_tag(game.image.public_filename , :size => "35x35") if game.image %></td>
  <td><%= link_to game.name, game_path(game) %></td>
  <td></td>
  <td><%= game.publish_year %></td>
</tr>
