<p><%= f.label :name, "Les tags" %><br />
<span class='tips'>Cela permet de catgorisé les jeux, utilisez des mot clef, les principaux themes, inspirez vous des tags deja existants.<br />
Separé les un espace ou une virgule ",".</span><br />
<%= f.text_field :tag_list, :class => "text" %></p>
<div class="auto_complete" id="tags_lookup_auto_complete"></div> 



