<% content_for :head  do %>
	<title>Ajoutez votre jeu au site</title>
<% end %>

<h3>Ajoutez une/des extension a <%= @base_game.name %>..</h3>

<% simple_form_for @extension, :url => game_extensions_path(@base) do |f| -%>
  <%= render f %>
<% end -%>