<div class="left clear mini span-5">
  <%= game_box_for(mini.game, :class => "mini left") %>
  <%= link_to mini.name.blank? ? mini.game.name : mini.name, game_path(mini.game), :class => "empty" %>
  (<%= mini.lang %>)
</div>