<p><%= form.label :member_name, "Nom joueur #{t + 1}" %><br />
<%= text_field_tag :name, {}, :class => "member_name", :id => "party_player_#{t}_member_name" %></p>
<%= form.hidden_field :member_id  %>
<%= form.hidden_field :party_id %>