<% render :layout => "layouts/widget", :locals => {:title => "Parties  du #{@party.created_at.to_date.to_s(:date_fr)}"} do %>
  <ul class="strip">
    <% @parties.each do |p| %>
      <li class="<%= @party.id == p.id ? "selected" : "" %>">
        <div class="right">
          <%= p.players.count %> / <%= p.game.max_player %>
        </div>
        <%= link_to p.game.name, p.players.count > 0 ? edit_party_player_path(p, p)  : new_party_player_path(p),
                    :class => p.players.count > 0 ? " ss_sprite ss_group_edit" : "ss_sprite ss_group_add" %>
      </li>
    <% end %>
  </ul>
<% end  %>