<table>
	<thead>
		<tr>
		  <th class="span-6">Mois</th>
		  <% @parties_breakdown.keys.sort.each do |year| %>
		      <th class="span-2"><%= year %></th>
		  <% end %>
		</tr>
	</thead>
	<tbody>
	<% (1..12).each do |month|  %>
	  <tr>
	   <td><%= month_name(month) %></td>
	    <% @parties_breakdown.keys.sort.each do |year| %>
		      <td><%= @parties_breakdown[year][month -1] %></td>
		  <% end %>
	  </tr>
	<% end %>
	<tr>
	  <td>Total</td>
	  <% @parties_breakdown.keys.sort.each do |year| %>
	      <td><%= @parties_breakdown[year].inject(0){|acc, cur| acc + cur} %></td>
	  <% end %>
	</tr>
	</tbody>
</table>