.ss_sprite{ display: inline;  overflow: hidden; height: 18px; padding-left:20px; padding-bottom: 2px; background-repeat: no-repeat;  background-image: image-url('ggrensprite.png');}

.ss_add_to_cart { background-position: 0 0; }
.ss_add_user { background-position: 0 -18px; }
.ss_add { background-position: 0 -36px; }
.ss_announcement { background-position: 0 -54px; }
.ss_battery { background-position: 0 -72px; }
.ss_bell { background-position: 0 -90px; }
.ss_briefcase { background-position: 0 -108px; }
.ss_buy { background-position: 0 -126px; }
.ss_calculator { background-position: 0 -144px; }
.ss_calendar { background-position: 0 -162px; }
.ss_camera { background-position: 0 -180px; }
.ss_cart { background-position: 0 -198px; }
.ss_clock { background-position: 0 -216px; }
.ss_closed_sign { background-position: 0 -234px; }
.ss_coffee { background-position: 0 -252px; }
.ss_comment { background-position: 0 -270px; }
.ss_comments { background-position: 0 -288px; }
.ss_compass { background-position: 0 -306px; }
.ss_cursor { background-position: 0 -324px; }
.ss_delete_key { background-position: 0 -342px; }
.ss_delete_user { background-position: 0 -360px; }
.ss_delicious { background-position: 0 -378px; }
.ss_digg { background-position: 0 -396px; }
.ss_disc { background-position: 0 -414px; }
.ss_diskette { background-position: 0 -432px; }
.ss_divide { background-position: 0 -450px; }
.ss_document { background-position: 0 -468px; }
.ss_documents { background-position: 0 -486px; }
.ss_dollar_sign { background-position: 0 -504px; }
.ss_download { background-position: 0 -522px; }
.ss_email { background-position: 0 -540px; }
.ss_facebook { background-position: 0 -558px; }
.ss_favorite { background-position: 0 -576px; }
.ss_flag { background-position: 0 -594px; }
.ss_flickr { background-position: 0 -612px; }
.ss_folder { background-position: 0 -630px; }
.ss_folders { background-position: 0 -648px; }
.ss_gamepad { background-position: 0 -666px; }
.ss_headphones { background-position: 0 -684px; }
.ss_heart { background-position: 0 -702px; }
.ss_help { background-position: 0 -720px; }
.ss_home { background-position: 0 -738px; }
.ss_information { background-position: 0 -756px; }
.ss_ipod { background-position: 0 -774px; }
.ss_joystick { background-position: 0 -792px; }
.ss_left { background-position: 0 -810px; }
.ss_link { background-position: 0 -828px; }
.ss_list { background-position: 0 -846px; }
.ss_live_chat { background-position: 0 -864px; }
.ss_lock { background-position: 0 -882px; }
.ss_mail { background-position: 0 -900px; }
.ss_meal { background-position: 0 -918px; }
.ss_mic { background-position: 0 -936px; }
.ss_mobile_phone { background-position: 0 -954px; }
.ss_money_bill { background-position: 0 -972px; }
.ss_money_bills { background-position: 0 -990px; }
.ss_money_coins { background-position: 0 -1008px; }
.ss_monitor { background-position: 0 -1026px; }
.ss_mouse { background-position: 0 -1044px; }
.ss_multiply { background-position: 0 -1062px; }
.ss_myspace { background-position: 0 -1080px; }
.ss_network { background-position: 0 -1098px; }
.ss_notebook { background-position: 0 -1116px; }
.ss_open_sign { background-position: 0 -1134px; }
.ss_paint_brush { background-position: 0 -1152px; }
.ss_pencil { background-position: 0 -1170px; }
.ss_phone { background-position: 0 -1188px; }
.ss_pie_chart { background-position: 0 -1206px; }
.ss_pin { background-position: 0 -1224px; }
.ss_plug { background-position: 0 -1242px; }
.ss_power { background-position: 0 -1260px; }
.ss_printer { background-position: 0 -1278px; }
.ss_radio { background-position: 0 -1296px; }
.ss_recycle { background-position: 0 -1314px; }
.ss_right { background-position: 0 -1332px; }
.ss_router { background-position: 0 -1350px; }
.ss_rss { background-position: 0 -1368px; }
.ss_sale { background-position: 0 -1386px; }
.ss_scissors { background-position: 0 -1404px; }
.ss_search { background-position: 0 -1422px; }
.ss_server { background-position: 0 -1440px; }
.ss_settings { background-position: 0 -1458px; }
.ss_sms { background-position: 0 -1476px; }
.ss_speaker { background-position: 0 -1494px; }
.ss_stats { background-position: 0 -1512px; }
.ss_stumble_upon { background-position: 0 -1530px; }
.ss_subtract_from_cart { background-position: 0 -1548px; }
.ss_subtract { background-position: 0 -1566px; }
.ss_tag { background-position: 0 -1584px; }
.ss_technorati { background-position: 0 -1602px; }
.ss_tower { background-position: 0 -1620px; }
.ss_trash { background-position: 0 -1638px; }
.ss_tv { background-position: 0 -1656px; }
.ss_twitter { background-position: 0 -1674px; }
.ss_unlock { background-position: 0 -1692px; }
.ss_upload { background-position: 0 -1710px; }
.ss_user_female { background-position: 0 -1728px; }
.ss_user_male { background-position: 0 -1746px; }
.ss_users { background-position: 0 -1764px; }
.ss_vcard { background-position: 0 -1782px; }
.ss_video_camera { background-position: 0 -1800px; }
.ss_warning { background-position: 0 -1818px; }
.ss_wine { background-position: 0 -1836px; }
.ss_world { background-position: 0 -1854px; }
.ss_www { background-position: 0 -1872px; }
.ss_x { background-position: 0 -1890px; }
.ss_zoom_in { background-position: 0 -1908px; }
.ss_zoom_out { background-position: 0 -1926px; }
