.ss_flag{ display: inline;  overflow: hidden; height: 16px; padding-left:18px; padding-bottom: 2px; background-repeat: no-repeat;  background-image: image-url('world-flags.png');}

.fl_asean { background-position: 0 0; }
.fl_afghanistan { background-position: 0 -18px; }
.fl_africanunion { background-position: 0 -36px; }
.fl_albania { background-position: 0 -54px; }
.fl_algeria { background-position: 0 -72px; }
.fl_americansamoa { background-position: 0 -90px; }
.fl_andorra { background-position: 0 -108px; }
.fl_angola { background-position: 0 -126px; }
.fl_anguilla { background-position: 0 -144px; }
.fl_antarctica { background-position: 0 -162px; }
.fl_antiguabarbuda { background-position: 0 -180px; }
.fl_arableague { background-position: 0 -198px; }
.fl_argentina { background-position: 0 -216px; }
.fl_armenia { background-position: 0 -234px; }
.fl_aruba { background-position: 0 -252px; }
.fl_australia { background-position: 0 -270px; }
.fl_austria { background-position: 0 -288px; }
.fl_azerbaijan { background-position: 0 -306px; }
.fl_bahamas { background-position: 0 -324px; }
.fl_bahrain { background-position: 0 -342px; }
.fl_bangladesh { background-position: 0 -360px; }
.fl_barbados { background-position: 0 -378px; }
.fl_belarus { background-position: 0 -396px; }
.fl_belgium { background-position: 0 -414px; }
.fl_belize { background-position: 0 -432px; }
.fl_benin { background-position: 0 -450px; }
.fl_bermuda { background-position: 0 -468px; }
.fl_bhutan { background-position: 0 -486px; }
.fl_bolivia { background-position: 0 -504px; }
.fl_bosniaherzegovina { background-position: 0 -522px; }
.fl_botswana { background-position: 0 -540px; }
.fl_brazil { background-position: 0 -558px; }
.fl_brunei { background-position: 0 -576px; }
.fl_bulgaria { background-position: 0 -594px; }
.fl_burkinafaso { background-position: 0 -612px; }
.fl_burundi { background-position: 0 -630px; }
.fl_caricom { background-position: 0 -648px; }
.fl_cis { background-position: 0 -666px; }
.fl_cambodja { background-position: 0 -684px; }
.fl_cameroon { background-position: 0 -702px; }
.fl_canada { background-position: 0 -720px; }
.fl_capeverde { background-position: 0 -738px; }
.fl_caymanislands { background-position: 0 -756px; }
.fl_centralafricanrepublic { background-position: 0 -774px; }
.fl_chad { background-position: 0 -792px; }
.fl_chile { background-position: 0 -810px; }
.fl_china { background-position: 0 -828px; }
.fl_colombia { background-position: 0 -846px; }
.fl_commonwealth { background-position: 0 -864px; }
.fl_comoros { background-position: 0 -882px; }
.fl_congo-Brazzaville { background-position: 0 -900px; }
.fl_congo-KinshasaZaire { background-position: 0 -918px; }
.fl_cookislands { background-position: 0 -936px; }
.fl_costarica { background-position: 0 -954px; }
.fl_cotedivoire { background-position: 0 -972px; }
.fl_croatia { background-position: 0 -990px; }
.fl_cuba { background-position: 0 -1008px; }
.fl_cyprus { background-position: 0 -1026px; }
.fl_czechrepublic { background-position: 0 -1044px; }
.fl_denmark { background-position: 0 -1062px; }
.fl_djibouti { background-position: 0 -1080px; }
.fl_dominica { background-position: 0 -1098px; }
.fl_dominicanrepublic { background-position: 0 -1116px; }
.fl_ecuador { background-position: 0 -1134px; }
.fl_egypt { background-position: 0 -1152px; }
.fl_elsalvador { background-position: 0 -1170px; }
.fl_england { background-position: 0 -1188px; }
.fl_equatorialguinea { background-position: 0 -1206px; }
.fl_eritrea { background-position: 0 -1224px; }
.fl_estonia { background-position: 0 -1242px; }
.fl_ethiopia { background-position: 0 -1260px; }
.fl_europeanunion { background-position: 0 -1278px; }
.fl_faroes { background-position: 0 -1296px; }
.fl_fiji { background-position: 0 -1314px; }
.fl_finland { background-position: 0 -1332px; }
.fl_france { background-position: 0 -1350px; }
.fl_gabon { background-position: 0 -1368px; }
.fl_gambia { background-position: 0 -1386px; }
.fl_georgia { background-position: 0 -1404px; }
.fl_germany { background-position: 0 -1422px; }
.fl_ghana { background-position: 0 -1440px; }
.fl_gibraltar { background-position: 0 -1458px; }
.fl_greece { background-position: 0 -1476px; }
.fl_greenland { background-position: 0 -1494px; }
.fl_grenada { background-position: 0 -1512px; }
.fl_guadeloupe { background-position: 0 -1530px; }
.fl_guademala { background-position: 0 -1548px; }
.fl_guam { background-position: 0 -1566px; }
.fl_guernsey { background-position: 0 -1584px; }
.fl_guinea-Bissau { background-position: 0 -1602px; }
.fl_guinea { background-position: 0 -1620px; }
.fl_guyana { background-position: 0 -1638px; }
.fl_haiti { background-position: 0 -1656px; }
.fl_honduras { background-position: 0 -1674px; }
.fl_hongkong { background-position: 0 -1692px; }
.fl_hungary { background-position: 0 -1710px; }
.fl_iceland { background-position: 0 -1728px; }
.fl_india { background-position: 0 -1746px; }
.fl_indonesia { background-position: 0 -1764px; }
.fl_iran { background-position: 0 -1782px; }
.fl_iraq { background-position: 0 -1800px; }
.fl_ireland { background-position: 0 -1818px; }
.fl_islamicconference { background-position: 0 -1836px; }
.fl_isleofman { background-position: 0 -1854px; }
.fl_israel { background-position: 0 -1872px; }
.fl_italy { background-position: 0 -1890px; }
.fl_jamaica { background-position: 0 -1908px; }
.fl_japan { background-position: 0 -1926px; }
.fl_jersey { background-position: 0 -1944px; }
.fl_jordan { background-position: 0 -1962px; }
.fl_kazakhstan { background-position: 0 -1980px; }
.fl_kenya { background-position: 0 -1998px; }
.fl_kiribati { background-position: 0 -2016px; }
.fl_kosovo { background-position: 0 -2034px; }
.fl_kuwait { background-position: 0 -2052px; }
.fl_kyrgyzstan { background-position: 0 -2070px; }
.fl_laos { background-position: 0 -2088px; }
.fl_latvia { background-position: 0 -2106px; }
.fl_lebanon { background-position: 0 -2124px; }
.fl_lesotho { background-position: 0 -2142px; }
.fl_liberia { background-position: 0 -2160px; }
.fl_libya { background-position: 0 -2178px; }
.fl_liechtenstein { background-position: 0 -2196px; }
.fl_lithuania { background-position: 0 -2214px; }
.fl_luxembourg { background-position: 0 -2232px; }
.fl_macao { background-position: 0 -2250px; }
.fl_macedonia { background-position: 0 -2268px; }
.fl_madagascar { background-position: 0 -2286px; }
.fl_malawi { background-position: 0 -2304px; }
.fl_malaysia { background-position: 0 -2322px; }
.fl_maldives { background-position: 0 -2340px; }
.fl_mali { background-position: 0 -2358px; }
.fl_malta { background-position: 0 -2376px; }
.fl_marshallislands { background-position: 0 -2394px; }
.fl_martinique { background-position: 0 -2412px; }
.fl_mauritania { background-position: 0 -2430px; }
.fl_mauritius { background-position: 0 -2448px; }
.fl_mexico { background-position: 0 -2466px; }
.fl_micronesia { background-position: 0 -2484px; }
.fl_moldova { background-position: 0 -2502px; }
.fl_monaco { background-position: 0 -2520px; }
.fl_mongolia { background-position: 0 -2538px; }
.fl_montenegro { background-position: 0 -2556px; }
.fl_montserrat { background-position: 0 -2574px; }
.fl_morocco { background-position: 0 -2592px; }
.fl_mozambique { background-position: 0 -2610px; }
.fl_myanmarburma { background-position: 0 -2628px; }
.fl_nato { background-position: 0 -2646px; }
.fl_namibia { background-position: 0 -2664px; }
.fl_nauru { background-position: 0 -2682px; }
.fl_nepal { background-position: 0 -2700px; }
.fl_netherlandsantilles { background-position: 0 -2718px; }
.fl_netherlands { background-position: 0 -2736px; }
.fl_newcaledonia { background-position: 0 -2754px; }
.fl_newzealand { background-position: 0 -2772px; }
.fl_nicaragua { background-position: 0 -2790px; }
.fl_niger { background-position: 0 -2808px; }
.fl_nigeria { background-position: 0 -2826px; }
.fl_northkorea { background-position: 0 -2844px; }
.fl_northerncyprus { background-position: 0 -2862px; }
.fl_northernireland { background-position: 0 -2880px; }
.fl_norway { background-position: 0 -2898px; }
.fl_opec { background-position: 0 -2916px; }
.fl_olimpicmovement { background-position: 0 -2934px; }
.fl_oman { background-position: 0 -2952px; }
.fl_pakistan { background-position: 0 -2970px; }
.fl_palau { background-position: 0 -2988px; }
.fl_palestine { background-position: 0 -3006px; }
.fl_panama { background-position: 0 -3024px; }
.fl_papuanewguinea { background-position: 0 -3042px; }
.fl_paraguay { background-position: 0 -3060px; }
.fl_peru { background-position: 0 -3078px; }
.fl_philippines { background-position: 0 -3096px; }
.fl_poland { background-position: 0 -3114px; }
.fl_portugal { background-position: 0 -3132px; }
.fl_puertorico { background-position: 0 -3150px; }
.fl_qatar { background-position: 0 -3168px; }
.fl_redcross { background-position: 0 -3186px; }
.fl_reunion { background-position: 0 -3204px; }
.fl_romania { background-position: 0 -3222px; }
.fl_russianfederation { background-position: 0 -3240px; }
.fl_rwanda { background-position: 0 -3258px; }
.fl_saintlucia { background-position: 0 -3276px; }
.fl_samoa { background-position: 0 -3294px; }
.fl_sanmarino { background-position: 0 -3312px; }
.fl_saotomeprincipe { background-position: 0 -3330px; }
.fl_saudiarabia { background-position: 0 -3348px; }
.fl_scotland { background-position: 0 -3366px; }
.fl_senegal { background-position: 0 -3384px; }
.fl_serbia { background-position: 0 -3402px; }
.fl_seyshelles { background-position: 0 -3420px; }
.fl_sierraleone { background-position: 0 -3438px; }
.fl_singapore { background-position: 0 -3456px; }
.fl_slovakia { background-position: 0 -3474px; }
.fl_slovenia { background-position: 0 -3492px; }
.fl_solomonislands { background-position: 0 -3510px; }
.fl_somalia { background-position: 0 -3528px; }
.fl_somaliland { background-position: 0 -3546px; }
.fl_southafriica { background-position: 0 -3564px; }
.fl_southkorea { background-position: 0 -3582px; }
.fl_spain { background-position: 0 -3600px; }
.fl_srilanka { background-position: 0 -3618px; }
.fl_stkittsnevis { background-position: 0 -3636px; }
.fl_stvincentthegrenadines { background-position: 0 -3654px; }
.fl_sudan { background-position: 0 -3672px; }
.fl_suriname { background-position: 0 -3690px; }
.fl_swaziland { background-position: 0 -3708px; }
.fl_sweden { background-position: 0 -3726px; }
.fl_switzerland { background-position: 0 -3744px; }
.fl_syria { background-position: 0 -3762px; }
.fl_tahitifrenchpolinesia { background-position: 0 -3780px; }
.fl_taiwan { background-position: 0 -3798px; }
.fl_tajikistan { background-position: 0 -3816px; }
.fl_tanzania { background-position: 0 -3834px; }
.fl_thailand { background-position: 0 -3852px; }
.fl_timor-Leste { background-position: 0 -3870px; }
.fl_togo { background-position: 0 -3888px; }
.fl_tonga { background-position: 0 -3906px; }
.fl_trinidadtobago { background-position: 0 -3924px; }
.fl_tunisia { background-position: 0 -3942px; }
.fl_turkey { background-position: 0 -3960px; }
.fl_turkmenistan { background-position: 0 -3978px; }
.fl_turksandcaicosislands { background-position: 0 -3996px; }
.fl_tuvalu { background-position: 0 -4014px; }
.fl_uganda { background-position: 0 -4032px; }
.fl_ukraine { background-position: 0 -4050px; }
.fl_unitedarabemirates { background-position: 0 -4068px; }
.fl_unitedkingdomgreatbritain { background-position: 0 -4086px; }
.fl_unitednations { background-position: 0 -4104px; }
.fl_unitedstatesofamerica { background-position: 0 -4122px; }
.fl_uruguay { background-position: 0 -4140px; }
.fl_uzbekistan { background-position: 0 -4158px; }
.fl_vanutau { background-position: 0 -4176px; }
.fl_vaticancity { background-position: 0 -4194px; }
.fl_venezuela { background-position: 0 -4212px; }
.fl_vietnam { background-position: 0 -4230px; }
.fl_virginislandsbritish { background-position: 0 -4248px; }
.fl_virginislandsus { background-position: 0 -4266px; }
.fl_wales { background-position: 0 -4284px; }
.fl_westernsahara { background-position: 0 -4302px; }
.fl_yemen { background-position: 0 -4320px; }
.fl_zambia { background-position: 0 -4338px; }
.fl_zimbabwe { background-position: 0 -4356px; }
