<li class="left"><%= link_to "Mes membres", members_path, :class => "ss_sprite ss_users" %></li>
<li class="left"><%= link_to "Ajouter un membre", new_member_path, :class => "ss_sprite ss_add" %></li>
<li class="left"><%= link_to "importer des membre", importer_members_path, :class => "ss_sprite ss_upload" %></li>
