<h3>Edition de membres...</h3>

<%= error_messages_for :members %>

<% form_for(@member) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= submit_or_back_to members_path, "Annuler" %>
<% end %>


