<h3>Importer des membres</h3>

<p>
	Le ficher doit etre au format csv.<br />
	les colones dans cet order la : nom;prenom(optionel);email(optionel)
	Pas de ligne d'entete.
</p>

<% form_for "import", :url => import_members_path(), :html => {:multipart => true} do |f| %>
	<p><%= f.label :file, "Fichier a importer" %><br />
	<%= f.file_field :file %></p>

	<%= submit_or_back_to members_path, "Retour sur les membres", :submit_text => "Importer" %>
<% end %>
