<h3>Les membres</h3>

<table class="sortable">
  <thead>
    <tr>
      <th class="span-3">Nom</th>
      <th class="span-3">Prenom</th>
      <th class="span-7">Commentaire</th>
      <th class="span-2">Derniere partie</th>
      <th class="">P</th>
      <th class="span-1">Nb Jeux</th>
      <th class="span-2">Admin</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial =>  @members %>
  </tbody>
</table>

<div class="page-nav">
  <%= will_paginate @members %>
</div>


<% content_for :newsbox do %>
  <% render_widget  "Administration", :layout => "layouts/widget" do %>
    <ul>
      <li><%= link_to "Creer un nouveau membre...", new_member_path, :class => "ss_sprite ss_user_add" %></li>
      <li><%= link_to "Importer", importer_members_path, :class => "ss_sprite ss_page_white_get" %></li>
    </ul>
  <% end %>
  
<% end %>