<h3>Les membres</h3>

<% if !@members.empty? %>

<table class="sortable">
  <thead>
    <tr>
      <th class="span-3">Nom</th>
      <th class="span-3">Prenom</th>
      <th class="span-7">Commentaire</th>
      <th class="span-2">Derniere partie</th>
      <th class="">P</th>
      <th class="span-1">Nb Jeux</th>
      <th class="span-2">Admin</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial =>  @members %>
  </tbody>
</table>

<div class="page-nav">
  <%= will_paginate @members %>
</div>

<% else %>
  <p class="empty">Vous n'avez encors aucun membres enregistrés.</p>
<% end %>


<% content_for :newsbox do %>
  <% if @members.empty? %>
    <% render_widget "Aide" do %>
      <ul>
        <li>
          Q : Qu'est ce qu'un membres ?<br />
          R : Un membre est tous simplement un joueurs dont vous suivez les parties.
        </li>
      </ul>
    <% end %>
  <% end %>

  <% render_widget  "Administration" do %>
    <ul>
      <li><%= link_to "Creer un nouveau membre...", new_member_path, :class => "ss_sprite ss_add_user" %></li>
      <li><%= link_to "Importer", importer_members_path, :class => "ss_sprite ss_upload" %></li>
    </ul>
  <% end %>
  
<% end %>