<h3>Inscription a Ludomanager</h3>

<% form_for :account, :url => accounts_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_or_back_to games_path, "Annuler" %>
<% end -%>
